.modal__content_type_image {
  padding: 0;
  max-width: 498px;
}

.modal__footer {
  padding: 20px 32px 32px;
}

.modal__weather {
  margin: 0;
}

.modal__caption {
  margin: 0 0 12px;
}

.modal__image {
  width: 498px;
  height: 498px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.garment__delete {
  /* height: 24px; */
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #ff4d00;
  font-weight: 700;
  font-family: "CabinetGrotesk-Medium", sans-serif;
  line-height: 24px;
  display: flex;
  padding: 0;
  right: 32px;
  bottom: 68px;
}
